/* 
    Timothy McCully
    styles.html
    registration assignment
    4/2/24
*/
@import "palette.css";
html{background-color: var(--nord0);}


/* layout */

input{
    position:absolute;
    left:15%;
    width: 75%;
}

label{
    display: block;
    padding-bottom: 5px;
    position: relative;
}

.container{
    margin:auto;
    width:80%;
    padding:25px;
    border-radius: 5px;
}

.submit{
    width:initial;
    position: initial;
}

/* styles */
h2{text-align: center;}

/* debug styles */

html{background-color: aquamarine;}
body{background-color:bisque}
label{background-color: seagreen;}
.container{background-color: azure;}
