/* 
    Timothy McCully
    styles.html
    registration assignment
    4/2/24
*/
@import "palette.css";
html{background-color: var(--nord0);}


/* layout */

input{
    position:absolute;
    left:15%;
    width: 75%;
}

label{
    display: block;
    padding-bottom: 5px;
    position: relative;
}

textarea{
    width:100%;
    /* height:20%; */
}

.container{
    margin:auto;
    width:80%;
    padding:25px;
    border-radius: 5px;
}

.submit{
    width:initial;
    position: initial;
}

.reservation{
    /* display: inline; */
    width: initial;
}

.reservation > label { 
    width: 5%;
    display: inline-block;
    padding-right: 10px;
    
}

.reservation > input {
    width: initial;
    display: inline-block;
    position:initial; 
    /* padding-left: 5px; */
    /* margin-left:5px; */

}

.classes{
    /* display: inline-block; */
    width: initial;
}

.classes > label { 
    
    width: initial;
    display: inline-block;
    position:initial; 
    /* width: 10%; */
    /* display: inline-block; */
    padding-right: 10px;
    
}

.classes > label > input {
    width: initial;
    display: inline-block;
    position:initial; 
    /* padding-left: 5px; */
    /* margin-left:5px; */

}


.addinfo{
    /* display: inline-block; */
    width: initial;
}

.addinfo > label { 
    
    width: initial;
    display: inline-block;
    position:initial; 
    /* width: 10%; */
    /* display: inline-block; */
    padding-right: 10px;
    
}

.addinfo > label > input {
    width: initial;
    display: inline-block;
    position:initial; 
    /* padding-left: 5px; */
    /* margin-left:5px; */

}


/* styles */
h2{text-align: center;}

/* debug styles */

html{background-color: aquamarine;}
body{background-color:bisque}
label{background-color: seagreen;}
.container{background-color: azure;}
